/src/OneWork/OneWork.Core.App/obj
/src/OneWork/OneWork.Core.App/bin
/src/OneWork/.vs
/src/OneWork.Core.App/obj
/src/OneWork.Core.App/bin
/src/OneWork.Core/bin
/src/OneWork.Core/obj
/src/.vs
/source/src/OneWork.Core/obj
/source/src/OneWork.Core.App/obj
/source/src/OneWork.Core.App/bin
/source/onework/OneWork.Core/bin
/source/onework/OneWork.Core/obj
/source/onework/.vs
/source/onework/OneWork.Core.App/bin
/source/onework/OneWork.Core.App/obj
/source/onework/src/OneWork.Web.App/bin
/source/onework/src/OneWork.Web.App/obj
