/src/OneWork/OneWork.Core.App/obj
/src/OneWork/OneWork.Core.App/bin
/src/OneWork/.vs
/src/OneWork.Core.App/obj
/src/OneWork.Core.App/bin
/src/OneWork.Core/bin
/src/OneWork.Core/obj
/src/.vs
/source/src/OneWork.Core/obj
/source/src/OneWork.Core.App/obj
/source/src/OneWork.Core.App/bin
/source/onework/OneWork.Core/bin
/source/onework/OneWork.Core/obj
/source/onework/.vs
/source/onework/OneWork.Core.App/bin
/source/onework/OneWork.Core.App/obj
/source/onework/src/OneWork.Web.App/bin
/source/onework/src/OneWork.Web.App/obj
/source/demo/asp_net_core_autofac/obj
/source/demo/asp_net_core_autofac/bin
/.vs
/source/demo/.vs
/source/demo/dynamic_asp_net_core/obj
/source/demo/dynamic_asp_net_core/bin
/source/demo/net_core_ef/obj
/source/demo/net_core_ef/bin
/source/demo/net_core_rabbitmq/obj
/source/demo/net_core_rabbitmq/bin
/source/demo/net_core_rabbitmq_consumer/obj
/source/demo/net_core_rabbitmq_consumer/bin
/source/demo/asp_net_docker/obj
/source/demo/asp_net_docker/bin
